@model WebApplication1.Models.Book

@{
    ViewData["Title"] = "Details";
}
@{ Layout = "../Shared/_layout_1.cshtml"; }

<head>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        h3 {
            font-size: 20px;
            width: 800px;
            margin: 0 auto;
            height: 50px;
            text-align: center;
            line-height: 50px;
        }

        table {
            margin: 0 auto;
        }

            table tr > th,
            table tr > td {
                padding: 5px;
                height: 20px;
                line-height: 20px;
                font-size: 16px;
                text-align: center;
            }

        p {
            font-size: 18px;
            text-align: center;
            height: 50px;
            margin: 5px;
            width: 800px;
            margin: 0 auto;
            line-height: 50px;
        }

            p.header-p span {
                margin: 0 200px 0 0;
            }

            p.footer-p span {
                margin: 0 150px 0 0;
            }
        .header-p {
            display: flex;
            justify-content: space-around;
        }
        .footer-p {
            display: flex;
            justify-content: space-around;
        }
    </style>
</head>
@{ 
    string id = Model.BookIbsn.Substring(3) + Model.BookId.Substring(2);
}
<div>
    <h3>二手无人书店寄卖发票</h3>
    <div class="header-p"><span>寄卖单号：@id </span><span>寄卖时间：2017-09-04</span></div>
    <table width="800px" border="1" cellpadding="10" align="center" cellspacing="0">

        <tr>
            <th>顺序号</th>
            <th>图书编号</th>
            <th>图书名称</th>
            <th>图书种类</th>
            <th>图书数量</th>
            <th>寄卖价格</th>
        </tr>
        <tr>
            <td>1</td>
            <td>@Model.BookId</td>
            <td>@Model.BookName</td>
            <td>@Model.category</td>
            <td>1</td>
            <td>@Model.CurrPrice</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>合计</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>1</td>
            <td>@Model.CurrPrice</td>
        </tr>
    </table>
    <div class="footer-p"><span>买方：@Model.userName</span><span>开票人：二手书店</span></div>
</div>
<a href="javascript:history.go(-1)">返回</a>
