@model IEnumerable<WebApplication1.Models.Order>

@{
    ViewData["Title"] = "订单查询";
}


<link rel="stylesheet" href="~/css/user-center.css" />

<ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="/UserCenter/Index">交易统计</a></li>
    <li role="presentation"><a href="/UserCenter/UserInform">个人信息</a></li>
    <li role="presentation"><a href="/UserCenter/CheckInform">审核查询</a></li>
    <li role="presentation"><a href="/UserCenter/Favorite">寄卖查询</a></li>
    <li role="presentation" class="active"><a :href="link">订单查询</a></li>
</ul>

<h3>订单查询</h3>
<hr />








<div class="row">
    <div class="col-md-18">
        <!-- BASIC TABLE -->
        <table class="table">
            <thead>
                <tr>
                    <th>订单id</th>
                    <th>买家名</th>
                    <th>卖家名</th>
                    <th>书籍id</th>
                    <th>书籍名</th>
                    <th>订单价格</th>
                    <th>订单时间</th>

                    <th>查看发票</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderId)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.buyerName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.salerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.bookName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderTime)
                        </td>
                        <td>

                            <a asp-controller="Orders" asp-action="GetReciept" asp-route-id="@item.OrderId">发票</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>














<div class="check-informs" id="check-informs">
    <div class="check-item" v-for="items in check_informs">
        <span><img :src="items.img_src" /></span>
        <span>{{ item.name }}</span>
        <span>{{ item.type }}</span>
        <span>{{ item.status }}</span>
    </div>
</div>

<script>
    var app = new Vue({
        el: "#check-informs",
        data: {
            check_informs: [
                {
                    img_src: "/images/home/cplusplus.jpg",
                    name: "C++程序设计",
                    type: "出售",
                    status: "审核中",
                },
                {
                    img_src: "/images/home/cplusplus.jpg",
                    name: "C++程序设计",
                    type: "出售",
                    status: "审核中",
                },
            ],
                            link: "/UserCenter/MyOrder?id=" + getCookie("username"),
        }
    })
</script>
