@{
    ViewData["Title"] = "在架书籍查询";
}
@model IEnumerable<WebApplication1.Models.Book>
<link rel="stylesheet" href="~/css/user-center.css" />
<div id="info-box">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a href="/UserCenter/Index">交易统计</a></li>
        <li role="presentation"><a href="/UserCenter/UserInform">个人信息</a></li>
        <li role="presentation"><a :href="link2">售出书籍查询</a></li>
        <li role="presentation" class="active"><a :href="link1">在架书籍查询</a></li>
        <li role="presentation"><a :href="link">订单查询</a></li>
    </ul>
</div>

<h3>在架书籍</h3>
<hr />
<div class="row">
    <div class="col-md-18">
        <!-- BASIC TABLE -->
        <table class="table">
            <thead>
                <tr>
                    <th>订单id</th>
                    <th>买家名</th>
                    <th>卖家名</th>
                    <th>书籍id</th>
                    <th>书籍名</th>
                    <th>订单价格</th>
                    <th>订单时间</th>
                    <th>审核状态</th>
                    <th>查看发票</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookId)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.BookName)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.BookIbsn)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Press)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.category)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.OriPrice)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CurrPrice)
                    </td>
                    <td class="status"></td>
                    <td>
                        <a asp-controller="Books" asp-action="Edit" asp-route-id="@item.BookId">修改</a>|

                        <a asp-controller="Books" asp-action="GetReciept" asp-route-id="@item.BookId">寄卖单</a>
                    </td>
                </tr>
                }

            </tbody>
        </table>
    </div>
</div>














<script>
    go(getCookie("username"));
    function go(name1) {
        $.ajax({
            url: "/Books/GetBooks",
            data: {
                name: name1,
            },
            type: "post",
            cache: false,
            dataType: "json",
            success: function (data) {
                if (data.state == "success") {
                    var list = $.parseJSON(data.suggest_book);
                    $('.status').each(function (i, n) {
                        if (list[i].BookStatus == 1) {
                            $(n).html("已审核");
                        }
                        else {
                            $(n).html("未审核");
                        }

                    });
                }
                else {
                    alert("数据获取失败:" + data.message);
                }
            },
            error: function (data) {
                alert("数据获取失败，原因：超时或错误号:" + data.state + ",请稍后再试。");
            }

        });
    }
    var app2 = new Vue({
        el: "#info-box",
        data: {
            link: "/UserCenter/MyOrder?id=" + getCookie("username"),
            link1: "/UserCenter/MySell?id=" + getCookie("username"),
            link2: "/UserCenter/SaleBooks?id=" + getCookie("username"),
        }
    })
</script>
