@{
    ViewData["Title"] = "已售出书籍";
}
@model IEnumerable<WebApplication1.Models.Order>
<link rel="stylesheet" href="~/css/user-center.css" />
<div id="info-box">
    <ul class="nav nav-tabs nav-justified">
        <li role="presentation"><a href="/UserCenter/Index">交易统计</a></li>
        <li role="presentation"><a href="/UserCenter/UserInform">个人信息</a></li>
        <li role="presentation"><a :href="link2">售出书籍查询</a></li>
        <li role="presentation"><a :href="link1">在架书籍查询</a></li>
        <li role="presentation"><a :href="link">订单查询</a></li>
    </ul>
    
</div>

<h3>已售出书籍</h3>
<hr />





<div class="row">
    <div class="col-md-18">
        <!-- BASIC TABLE -->
        <table class="table">
            <thead>
                <tr>
                    <th>订单id</th>
                    <th>买家名</th>
                    <th>卖家名</th>
                    <th>书籍id</th>
                    <th>书籍名</th>
                    <th>订单价格</th>
                    <th>订单时间</th>

                    <th>查看发票</th>

                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderId)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.buyerName)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.salerName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.BookId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.bookName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderPrice)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.OrderTime)
                        </td>
                        <td>

                            <a asp-controller="Orders" asp-action="GetReciept" asp-route-id="@item.OrderId">发票</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>









<script>

    var app2 = new Vue({
        el: "#info-box",
        data: {
            link: "/UserCenter/MyOrder?id=" + getCookie("username"),
            link1: "/UserCenter/MySell?id=" + getCookie("username"),
            link2: "/UserCenter/SaleBooks?id=" + getCookie("username"),
        }
    })
</script>
