@model IEnumerable<WebApplication1.Models.CheckBook>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FaileReason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AdminId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FaileReason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AdminId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
