@model WebApplication1.Models.Order

@{
    ViewData["Title"] = "Delete";
}

<h2>删除订单</h2>

<h3>你确定要删除该订单吗?</h3>
<div>
    @*<h4>Order</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="OrderId" />
        <input type="submit" value="删除" class="btn btn-default" /> |
        <a asp-action="Index">返回列表</a>
    </form>
</div>
