@model WebApplication1.Models.Order

@{
    ViewData["Title"] = "Details";
}

<link rel="stylesheet" href="~/css/user-center.css" />

<ul class="nav nav-tabs nav-justified">
    <li role="presentation"><a href="/UserCenter/Index">交易统计</a></li>
    <li role="presentation"><a href="/UserCenter/UserInform">个人信息</a></li>
    <li role="presentation"><a href="/UserCenter/CheckInform">审核查询</a></li>
    <li role="presentation"><a href="/UserCenter/Favorite">收藏夹</a></li>
    <li role="presentation" class="active"><a href="javascript:void(0);">订单查询</a></li>
</ul>

<h3>订单查询</h3>
<hr />




<div>
    @*<h4>Order</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BookId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BookId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrderStatus)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrderId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
