@model IEnumerable<WebApplication1.Models.OrderStatistics>
@{ Layout = "../Shared/_layout_2.cshtml"; }
@{int a = 0; int b = 0;}
@foreach (var item in Model)
{
    a += item.TotalValue;
    b += item.BookNum;

}
<h2>订单统计</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                时间
            </th>
            <th>
                书籍数量
            </th>
            <th>
                书籍总价
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.time)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalValue)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.time">修改</a> @*|
                    <a asp-action="Details" asp-route-id="@item.BookNum">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.TotalValue">Delete</a>*@
                </td>
            </tr>
        }
        <tr>
            <td>总计</td>
            <td>@b</td>
            <td>@a  </td>
        </tr>
    </tbody>
</table>


