@model WebApplication1.Models.Users

@{
    Layout = "../Shared/_layout_2.cshtml";
    ViewData["Title"] = "删除用户";
}

<h2>删除用户</h2>

<h3>你确定删除此用户吗</h3>
<div>
    <dl class="dl-horizontal">
        <dt>
            用户名
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            支付宝账号
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AlipayAccount)
        </dd>
        <dt>
            电话号码
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ContactInfo)
        </dd>
        <dt>
            电子邮箱
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mail)
        </dd>
        <dt>
            密码
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserId" />
        <input type="submit" value="删除" class="btn btn-default" /> |
        <a asp-action="Index">返回列表</a>
    </form>
</div>
